// commons-dbcp.jar
grant {
	permission java.net.SocketPermission "localhost","resolve" ;
	permission java.util.PropertyPermission "hsqldb.max_char_or_varchar_display_size","read" ;
	permission java.util.PropertyPermission "hsqldb.trace","read" ;
	permission java.util.PropertyPermission "hsqldb.tracesystemout","read" ;
};
